<header class="header" id="site-header">
  <div class="header-container container">
    <a class="header-linl-home" href="#Home">
    <img class="header-logo" src="/img/header/logo.png" alt="Puzzle" loading="lazy">
  </a>
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
  <img src="/img/header/burger.png" alt="Burger" loading="lazy" width="48" height="48">
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#About">About Us</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Puzzle">Puzzle Challenges</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Lovers">Community</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">home</a></li>
    <li><a class="menu-list-item" href="index.html#About">About Us</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Reviews">Reviews</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Puzzle">Puzzle Challenges</a></li>
    <li><a class="menu-list-item" href="index.html#Lovers">Community</a></li>
    <li><a class="menu-list-item" href="index.html#Contact">Contact</a></li>
  </ul>
</div>