<!-- Hero -->
<section class="home-section">
    <div class="container">
        <h1 class="home-title">Welcome to PuzzleMace – Your Ultimate Puzzle Game Hub!
        </h1>
        <p class="home-text">Dive into the world of puzzles, brain teasers, and challenging games with our expert reviews, guides, and weekly
        challenges.</p>
        <p class="second-text home-text-two">Stay up to date with the latest in puzzle gaming and enhance your skills with our expert tips and tutorials. PuzzleMace
        is your go-to place for everything puzzling.</p>
        <div class="home-btn-wrapper">
            <a class="start-btn" href="#Game">Start Exploring</a>
            <a class="join-btn" href="#Lovers">Join the Puzzle Challenge</a>
        </div>
    </div>
</section>