/* Styles for Mobile devices */
.container {
  max-width: 374px;
  margin: 0 auto;
  padding: 25px 24px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1439px) {
  .container {
    max-width: 1439px;
    padding: 50px 90px;
  }
}