/* Hero */
.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 578px;
}
.home-title{
    margin-top: 81px;
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        width: 374px;
        margin-left: -22px;
}
.home-text{
    margin-top: 62px;
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        width: 360px;
        margin-left: -14px;
}
.home-text-two{
margin-top: 27px;
width: 266px;
margin-left: auto;
margin-right: auto;
}
.home-btn-wrapper{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.start-btn{
    background: #f8ad27;
    border-radius: 10px;
    padding: 8px 17px;
        width: 194px;
        height: 35px;
        font-family: "IBM Plex Sans", sans-serif;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: #31254c;
}
.join-btn{
    background: #44c2c2;
    border-radius: 10px;
        width: 230px;
        height: 35px;
        padding: 10px 14px;
        font-family: "IBM Plex Sans", sans-serif;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
}
@media only screen and (min-width: 1439px) {
 .home-section{
    background-image: url("/img/hero/desk.png");
    height: 770px;
 }
 .home-title{
    margin-top: 104px;
    font-size: 34px;
    margin-left: auto;
    margin-right: auto;
    width: 1083px;
 }
 .home-text{
    width: 809px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 24px;
 }
 .home-text-two{
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 }
 .home-btn-wrapper{
    margin-top: 144px;
    flex-direction: row;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
 }
 .start-btn{
    width: 334px;
        height: 61px;
        font-size: 24px;
        padding: 16px 59px;
 }
 .join-btn{
    width: 468px;
        height: 61px;
        font-size: 24px;
        padding: 16px 59px;
 }
}
/* About Us */
.about-text{
    margin-top: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.about-text-two{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 312px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
 .about-text{
    margin-top: 140px;
    width: 539px;
    margin-left: 80px;
    margin-right: auto;
 }
 .about-text-two{
    margin-top: 14px;
    margin-bottom: 0;
    width: 567px;
        margin-left: 80px;
        margin-right: auto;
 }
 .about-img{
    margin-right: 40px;
    margin-left: auto;
    margin-top: -340px;
 }
}
/* Game Reviews & Rankings */
.game-text{
    margin-top: 14px;
}
.game-text-two{
    margin-top: 31px;
}
.game-text-three{
    margin-top: 30px;
}
.game-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.game-item{
    display: flex;
    align-items: center;
    gap: 16px;
}
.game-img-one{
    width: 38px;
        height: 34px;
}
.game-img-two{
    width: 44px;
        height: 31px;
}
.game-img-three{
    width: 44px;
        height: 42px;
}
@media only screen and (min-width: 1439px) {
  .game-text-two{
    margin-top: 20px;
    width: 676px;
    margin-left: auto;
    margin-right: auto;
  }

.game-list{
    margin-left: auto;
    margin-right: auto;
    gap: 35px;
    width: 680px;
}
.game-img-one{
    width: 78px;
        height: 69px;
}
.game-img-two{
    width: 84px;
        height: 60px;
}
.game-img-three{
    width: 84px;
        height: 81px;
}
}
/* Expert Tips & Guides */
.expert-text{
    margin-top: 14px;
}
.expert-text-two{
    margin-top: 24px;
    width: 338px;

}
.expert-text-three{
    margin-top: 20px;
}
.expert-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;    
}
.expert-item{
    display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        width: 279px;
}
.expert-text-item{
    text-align: center;
}
@media only screen and (min-width: 1439px) {
  .expert-text{
    margin-top: 30px;
  }
  .expert-text-two{
    margin-top: 12px;
    width: 757px;
        margin-left: auto;
        margin-right: auto;
  }
  .expert-text-three{
    margin-top: 42px;
  }
  .expert-list{
    margin-top: 50px;
    flex-direction: row;
    gap: 40px;
  }
  .expert-item{
    width: 279px;
    gap: 20px;
  }
}
/* Test Your Skills with Our Weekly Puzzles */
.test-text{
    margin-top: 14px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
}
.test-text-two{
    margin-top: 30px;
}
.test-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 360px;
}
.test-item{
    display: flex;
    align-items: center;
    gap: 16px;
}
.test-img{
    width: 24px;
    height: 24px;
}
@media only screen and (min-width: 1439px) {
    .test-title{
        font-size: 34px;
    }
    .test-text{
        margin-top: 18px;
        width: 514px;
    }
    .test-text-two{
        margin-top: 46px;
    }
    .test-list{
        margin-top: 70px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        gap: 60px;
    }
    .test-item{
        gap: 50px;
    }
    .test-img{
        width: 48px;
        height: 48px;
    }
}